.star {
    font-size: 20px;
    padding-top: 35px;
}

.star::before,
.star:after {
    content: '';
    display: inline-block;
    background-color: white;
    width: 150px;
    height: 4px;
    border-radius: 10px;
    vertical-align: middle;
}

.star-dark {
    font-size: 20px;
}

.star-dark::before,
.star-dark:after {
    content: '';
    display: inline-block;
    background-color: black;
    width: 150px;
    height: 4px;
    border-radius: 10px;
    vertical-align: middle;
}